html, body{
	height: 100%;
}

#wrapper{
	width: 100%;
	min-height:100%;
}

#container{
	width: 85%;
	margin: 20px auto;
	padding:0;
	min-height:90%;
	/*overflow:auto;*/
  	padding-bottom:150px;
	
}

#contain{
	width: 85%;
	margin: 20px auto;
	padding:0;
}

header{
	text-align: center;
	background: -webkit-linear-gradient(#619ADF, #C5D9F2);
	background: -o-linear-gradient(#619ADF, #C5D9F2); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#619ADF, #C5D9F2); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#619ADF, #C5D9F2); /* Standard syntax */
	float:left;
	padding:15px 0;
	min-width:100%;
}

header h1{
	font-weight: bold;
}

footer{
	background-color: #103D89;
	float:left;
	padding:15px 0;
	min-width:100%;
	position: relative;
  	/*margin-top: -150px; /* negative value of footer height */
  	height: 150px;
  	clear:both;
  	padding-top:20px;
}

footer p{
	color: white;
}

#navigator{
	width: auto;
	text-align: center;
	padding:0;
	background-color: #103D89;
}

#navigator li {
	display: inline;
	padding: 10px 10px 10px 10px;
}

#navigator li a{
	color: white;
	font-weight: bold;
}

.formularios{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}

.formularios input,select{
	border-radius: 5px;
	margin: 10px;
	padding: 5px;
	width: 98%;
	display:inline-block;
}

.formularios input[type=submit] {
    width: 30%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
}

.formularios input[type=submit]:hover {
    background-color: #45a049;
}

#table{
	border-collapse:collapse; table-layout:fixed;
}

#table td{
	word-wrap:break-word
}

#table td a{
	color: red;	
}

#accordion p{
	text-decoration: underline;
	color: blue;
}

#accordion #div_elemento p{
	text-decoration: none;
	color: black;
}


#accordion p:hover{
	cursor: hand;
	cursor: pointer;
}

.texto{
	font-weight: normal;	
}

button{
	margin: 20px;
}

.hide{
	display:none;
}
